
<div class="container">
  <h1 class="titre_principal_home">Bienvenue à Lyon<%= @city %></h1>

  <div class="question">
    <h2>Quelle est ta disponibilité ?</h2>
    <div class="text-center">
      <span class="layout_home">
        <%= form_with url: journeys_path, method: :post do |f| %>
          <%= f.number_field :duration_hours %>
          <%= f.number_field :duration_minutes %>
          <h2 class="titre_secondaire_home">Que souhaites-tu faire pendant ce temps?</h2>
          <% @categories.each do |category| %>
          <label for="<%= category.name %>"><%= category.name %></label>
            <input name="category_ids[]" type="checkbox" value="<%= category.id %>" id="<%= category.name %>" />
            <% end %>
          <%= f.submit "C'est parti!"%>
        <% end %>
      </span>
    </div>
  </div>


  <%# affichage des catégories fait OK %>
  <%# <div class="buton_home">
    <h3 class="button salmon-button"><%= link_to "C'est parti!", places_path() %> </h3>
  <%# </div> %>
  <%= svg_tag "sam_design", class: "image_sam" %>
</div>
