<%# lien pour se diriger pendant le dev, a sup à la fin %>

<h1>Bienvenue à Lyon</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "lien vers new session user", new_user_session_path %>
<br>
<%= link_to "lien vers index des lieux", places_path %>
<br>
<%= link_to "lien vers détail d'un lieu", place_path(:id) %>
<br>
<%= link_to "lien vers parcours", journey_path(:id) %>

<h2>Jusqu'à quelle heure es-tu disponible?</h2>

<%# affichage des catégories fait OK %>
<h2>Que souhaites-tu faire pendant ce temps?</h2>
<div class="categories">
<% if @categories.present? %>
  <% @categories.each do |category| %>
      <div  class="stylecategory">
        <h3><%= category.name %></h3>
      </div>
  <% end %>
<% else %>
  <p>Aucune catégorie disponible.</p>
<% end %>
</div>


<%# formulaire pour le temps dispo fait OK%>
<div>
  <%= simple_form_for :journey, method: :post, url: journey_path(:id) do |f| %>
    <%= f.input :start_time, selected: (f.object || Time.current + 1.hour), as: :time %>
    <%= f.input :end_time, selected: (f.object || (Time.current + 4.hours).change(min: 0, sec: 0).ceil(1.hour)), as: :time %>
    <%= f.button :submit, "Valider" %>
  <% end %>
</div>

<p class="button salmon-button"><%= link_to "lien vers parcours", journey_path(:id) %>
</p>
