<div class="container" data-controller="geoloc">
  <h1 class="titre_principal_home" id="geocity"></h1>
  <div class="question" data-controller="meteo">
    <h2 class="mb-2">Ton temps libre ?</h2>
    <div>
      <span>
        <%= form_with model: @journey do |f| %>
          <div class="toto">
            <%= f.time_field :duration_hours, value: Time.at(10800).utc, class: 'time-input journey-params', step: 900 %>
          </div>
          <%= f.hidden_field :weather_icon, data: { meteo_target: "weatherIcon", action: "meteo#connect" } %>
          <h2 class="titre_secondaire_home mt-3 mb-3">Ton mode de déplacement ?</h2>
          <div class="d-flex justify-content-between">
            <% Journey::TRAVEL_MODES.each do |travel_mode| %>
              <div>
          <input class="radio-input" id="<%= travel_mode %>" type="radio" name="journey[travel_mode]" value="<%= travel_mode %>" <%= 'checked' if travel_mode == 'walking' %>>
          <label class="radio-label" for="<%= travel_mode %>"><%= Journey.travel_emoji(travel_mode) %></label>
              </div>
            <% end %>
          </div>

          <h2 class="titre_secondaire_home mt-3 mb-4">Que souhaites-tu faire ?</h2>
          <div class="categories">
          <% @categories.each do |category| %>
            <input class='checkboxes-input' name="category_ids[]" type="checkbox" style="" value="<%= category.id %>" id="<%= category.name %>" />
            <label class="checkboxes-label stylecategory" for="<%= category.name %>"><span class="emoji"><%= category.emoji %></span> <%= category.display_name %></label>
          <% end %>
          <%= f.submit "C'est parti !", class: "button_home salmon-button "%>

          <%= @journey.travel_emoji %>

          </div>
        <% end %>
      </span>
    </div>
  </div>


  <%# affichage des catégories fait OK %>
  <%# <div class="buton_home">
    <h3 class="button salmon-button"><%= link_to "C'est parti!", places_path() %> </h3>
  <%# </div> %>
  <%= svg_tag "sam_design", class: "image_sam" %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var timeInput = document.querySelector('.time-input');

    // Écouter le changement dans le champ de saisie
    timeInput.addEventListener('change', function() {
      adjustTimeInputStep();
    });

    // Fonction pour ajuster le pas des minutes
    function adjustTimeInputStep() {
      var currentTime = timeInput.value.split(':');
      var currentMinutes = parseInt(currentTime[1], 10);

      // Arrondir les minutes au multiple de 15 le plus proche
      var adjustedMinutes = Math.round(currentMinutes / 15) * 15;

      // Si les minutes sont égales à 60, ajuster à 0 et incrémenter les heures
      if (adjustedMinutes === 60) {
        adjustedMinutes = 0;
        var currentHours = parseInt(currentTime[0], 10);
        var adjustedHours = (currentHours + 1) % 24;
        timeInput.value = (adjustedHours < 10 ? '0' : '') + adjustedHours + ':00';
      } else {
        // Mettre à jour le champ de saisie avec les minutes ajustées
        timeInput.value = currentTime[0] + ':' + (adjustedMinutes < 10 ? '0' : '') + adjustedMinutes;
      }
    }


  });
</script>
