<%= link_to "lien vers new session user", new_user_session_path %>
<br>
<%= link_to "lien vers home", root_path %>
<br>
<%= link_to "lien vers détail d'un lieu", place_path(:id) %>
<br>
<%= link_to "lien vers parcours", journey_path(:id) %>


<% @places.each do |place| %>
  <div>
    <h3><%= place.name %></h3>
    <h3><%= place.category %></h3>
    <p><%= place.description %></p>
  </div>
<% end %>
