<div class="container places-margin-bottom">
  <div class="my-3">
    <%= form_tag(journey_places_path(@journey), method: :get) do %>
    <%= text_field_tag :name, params[:name] %>
    <%= submit_tag "Rechercher" %>
    <% end %>


    <p>Votre parcours est prévu pour <%= @journey.places.sum(:visit_duration) %> mn</p>
    <p>Il vous reste <%= @rest_time %> mn disponibles</p>

  </div>

  <div data-controller="places">
    <div data-places-target="list">
    </div>
  </div>

  <%= link_to "Voir mon parcours", journey_path(@journey), class: "button salmon-button journey-button" %>
</div>
