<div class="container places-margin-bottom">
  <div class="my-3">
    <div class="row justify-content-center">
      <div id="places">
        <% if @places.none? %>
          <em>Désolé, l'endroit que vous recherchez n'existe pas.</em>
        <% end %>
      </div>
    </div>

    <div>
      <%= form_tag(journey_places_path(@journey), class: "form-search-card", method: :get) do %>
        <%= text_field_tag :keyword, params[:keyword], class: "input-search-card" %>
        <%= hidden_field_tag :weather_icon, params[:weather_icon] %>
        <%= submit_tag "Rechercher", class: "search-button" %>
      <% end %>
    </div>

    <% total_duration_minutes = @journey.total_duration %>
    <% if total_duration_minutes > 0 %>
       <p>Le parcours prévoit <%= display_time(@journey.total_duration) %></p>
    <% end %>
    <% rest_time = (@journey.duration - @journey.total_duration) %>
    <% if rest_time > 0 %>
    <p>Il reste <%= display_time(@journey.duration - @journey.total_duration) %> de temps disponible </p>
    <% end %>
  </div>

  <div class="navbar_emoji">
  <% @categories.each do |category| %>
   <%= category_link(category, params[:category_ids]) %>
  <% end %>
  </div>


  <div data-controller="places">
    <div data-places-target="list">
    </div>
  </div>

  <%= link_to "Voir mon parcours", journey_path(@journey), class: "button salmon-button journey-button" %>
  <script src = "index.js"></script>
</div>
