<div class="container places-margin-bottom">
  <div class="my-3">
    <div class="row justify-content-center">
      <div id="places">
        <% if @places.none? %>
          <em>Désolé, l'endroit que vous recherchez n'existe pas.</em>
        <% end %>
      </div>
    </div>

    <div>
      <%= form_tag(journey_places_path(@journey), class: "form-search-card", method: :get) do %>
        <%= text_field_tag :keyword, params[:keyword], class: "input-search-card" %>
        <%= hidden_field_tag :weather_icon, params[:weather_icon] %>
        <%= submit_tag "Rechercher", class: "search-button" %>
      <% end %>
    </div>

    <p>Le parcours prévoit <%= @journey.places.sum(:visit_duration)/60 %>h <%=@journey.places.sum(:visit_duration) % 60%> mn</p>
    <p>Il reste <%= @rest_time / 60 %> h <%= @rest_time % 60 %> mn de temps disponible</p>
  </div>

  <div class="navbar_emoji checkboxes-label">

  <% @categories.each do |category| %>
    <% if @category_ids.include?(category.id) %>
      <%= link_to request.params.merge(category_ids: @category_ids.filter { |c| c != category.id }), class: "category_home active" do %>
        <%= category.emoji %>
      <% end %>
    <% else %>
      <%= link_to request.params.merge(category_ids: @category_ids.push(category.id)), class: "category_home" do %>
        <%= category.emoji %>
      <% end %>
    <% end %>
  <% end %>
  </div>

  <div data-controller="places">
    <div data-places-target="list">
    </div>
  </div>

  <%= link_to "Voir mon parcours", journey_path(@journey), class: "button salmon-button journey-button" %>
  <script src = "index.js"></script>
</div>

<script>
  function filterCategory(category) {
    // Afficher seulement la catégorie correspondante
    var categories = document.querySelectorAll('.category_home');
    categories.forEach(function(cat) {
      cat.style.display = 'none';
    });

    var selectedCategory = document.querySelector('.category_home[data-category="' + category + '"]');
    if (selectedCategory) {
      selectedCategory.style.display = 'block';
    }
  }
</script>
