<div class="container places-margin-bottom">
  <div class="my-3">
    <%# <%= simple_form_for :place, url: journey_place_path(@journey, params[:place_id]), method: :get do |f| %>
      <%# <%= f.input :name, input_html: { placeholder: "Nom du lieu" }, label: false %>
      <%# Champ caché pour l'ID %>
       <%# <%= form.hidden_field :id %>

      <%# <%= f.button :submit, "OK" %>

    <%# <% end %>
    <p>Votre parcours est prévu pour <%= @journey.places.sum(:visit_duration) %> mn</p>
    <p>Il vous reste <%= @rest_time %> mn disponibles</p>

  </div>

  <div data-controller="places">
    <div data-places-target="list">
    </div>
  </div>

  <%= link_to "Voir mon parcours", journey_path(@journey), class: "button salmon-button journey-button" %>
</div>
