<head>
<meta charset="utf-8">
<title>Attach a popup to a marker instance</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.js"></script>
<style>
body { margin: 0; padding: 0; }
#map {
  position: fixed;
  bottom: 0;
  border: 1px solid black;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  height: 50vh;
} }
</style>
</head>
<body>
<div>
<h3>Bars à proximité</h3>
<% @nearby_bars.each do |bar| %>
  <p><%= bar.name %> <%= bar.tel %>
  <%= bar.website %></p>
<% end %>
</div>

<style>

.marker {
display: block;
background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg');
border: none;
border-radius: 50%;
cursor: pointer;
padding: 0;
}
</style>

<div id="map"></div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoidnNjaG1pdHQiLCJhIjoiY2xwamdyd3RzMGI1dTJpcW9mMmp5MTZ4dCJ9.lrohzerGwUtMg0fiQmKs4Q';
const monument = [<%=@place.long%>, <%=@place.lat %>];

const map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
center: monument,
zoom: 15
});

 <% @nearby_bars.each do |place| %>
  var marker = new mapboxgl.Marker()
    .setLngLat([<%=place.long%>, <%=place.lat%>])
    .setPopup(new mapboxgl.Popup().setHTML('<h3>' + '<%=place.name%>' + '</h3>'))
    .addTo(map);
<% end %>
</script>
</body>
